<nav class="navbar">
    <div class="container dash-container">
        <div class="secret-nav">
            <div class="dropdown">
                <button class="secret-button btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Dashboard
                </button>
                <ul class="dropdown-menu" id="secret_selector" aria-labelledby="dropdownMenuButton1">
                  <li><a class="dropdown-item" href="#"><option class="option-1" value="mem">Members</option></a></li>
                  <li><a class="dropdown-item" href="#"><option class="option-1" value="site">Site Location</option></a></li>
                  <li><a class="dropdown-item" href="#"><option class="option-1" value="lic">Licenses</option></a></li>
                  <li><a class="dropdown-item" href="#"><option class="option-1" value="parm">Permissions</option></a></li>
                  <li><a class="dropdown-item" href="#"><option class="option-1" value="set">Settings</option></a></li>
                  <li><a class="dropdown-item" href="#"><option class="option-1" value="faq">FAQs</option></a></li>
                  <li><a class="dropdown-item" href="#"><option class="option-1" value="cont">Contact us</option></a></li>
                  <li><a class="dropdown-item" href="#"><option class="option-1" value="dash">Dashboard</option></a></li>
                </ul>
            </div>
        </div>
        <nav class="dash-date" style="margin-left: auto !important">
            <a class="nav nav-pills nav-link day-date">
                Monday | 10.08.2021
            </a>
        </nav>
    </div>
</nav>
<div class="container">
    <div class="side-nav d-flex align-items-start">
        <div id="side_nav" class="side-nav-div nav flex-column nav-pills me-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">
            <button class="dash-link nav-link active dash-active" style="border-radius: 4px 4px 0px 0px !important;" id="v-pills-dashboard-tab" data-bs-toggle="pill" data-bs-target="#v-pills-dashboard" type="button" role="tab" aria-controls="v-pills-dashboard" aria-selected="true">Dashboard</button>
            <div class="dash-head-link nav-link"><b>Manage</b></div>
            <button class="dash-sub-link nav-link" id="v-pills-members-tab" data-bs-toggle="pill" data-bs-target="#v-pills-members" type="button" role="tab" aria-controls="v-pills-members" aria-selected="false">Members</button>
            <button class="dash-sub-link nav-link" id="v-pills-site-tab" data-bs-toggle="pill" data-bs-target="#v-pills-site" type="button" role="tab" aria-controls="v-pills-site" aria-selected="false">Site Location</button>
            <button class="dash-sub-link nav-link" id="v-pills-licenses-tab" data-bs-toggle="pill" data-bs-target="#v-pills-licenses" type="button" role="tab" aria-controls="v-pills-licenses" aria-selected="false">Licenses</button>
            <button class="dash-sub-link nav-link" id="v-pills-permissions-tab" data-bs-toggle="pill" data-bs-target="#v-pills-permissions" type="button" role="tab" aria-controls="v-pills-permissions" aria-selected="false">Permissions</button>
            <button class="dash-sub-link nav-link" id="v-pills-settings-tab" data-bs-toggle="pill" data-bs-target="#v-pills-settings" type="button" role="tab" aria-controls="v-pills-settings" aria-selected="false">Settings</button>
            <div class="dash-head-link nav-link"><b>Support</b></div>
            <button class="dash-sub-link nav-link" id="v-pills-faq-tab" data-bs-toggle="pill" data-bs-target="#v-pills-faq" type="button" role="tab" aria-controls="v-pills-faq" aria-selected="false">FAQs</button>
            <button class="dash-sub-link nav-link" style="border-radius: 0px 0px 4px 4px !important;" id="v-pills-contact-tab" data-bs-toggle="pill" data-bs-target="#v-pills-contact" type="button" role="tab" aria-controls="v-pills-contact" aria-selected="false">Contact us</button>
        </div>
        <div class="dash-data tab-content" id="v-pills-tabContent">
            <div class="tab-pane fade show active" id="v-pills-dashboard" role="tabpanel" aria-labelledby="v-pills-dashboard-tab">
                <div class="container">
                    <div class="row">
                        <div class="data-head col-auto me-auto">
                            Welcome Username
                        </div>
                        <div class="data-head col-auto">
                            Global Touch
                        </div>
                    </div>
                    <div class="row">
                        <div class="data-pane col-12">
                            <div class="da-data">
                                <div class="row">
                                    <div class="col-lg-7 col-md-12 col-sm-12 col-xs-12">
                                        <div class="row col-md-12 col-sm-12 col-xs-12">
                                            <div class="da-pill-box col-lg-3 col-md-6 col-sm-6 col-xs-6">
                                                <div class="da-fill-stat">
                                                    Total
                                                    <div class="da-fill-pill">
                                                        500
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="da-pill-box col-lg-3 col-md-6 col-sm-6 col-xs-6">
                                                <div class="da-stat">
                                                    <img src="./img/icons/in.svg" width="18" height="18" alt=""> In
                                                    <div class="da-pill">
                                                        479
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="da-pill-box col-lg-3 col-md-6 col-sm-6 col-xs-6">
                                                <div class="da-stat">
                                                    <img src="./img/icons/out.svg" width="18" height="18" alt=""> Out
                                                    <div class="da-pill">
                                                        463
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="da-pill-box col-lg-3 col-md-6 col-sm-6 col-xs-6">
                                                <div class="da-stat">
                                                    <img src="./img/icons/user.svg" width="18" height="18" style="margin-bottom: 4px" alt=""> No Activity
                                                    <div class="da-pill">
                                                        21
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="da-search-div col-lg-5 col-md-12">
                                        <div class="col-12">
                                            <div class="da-search-div-div">
                                                Site Location ( 2 )
                                                <form class="da-search row">
                                                    <div class="da-search-fields col-lg-6 col-md-12 col-sm-12"><input class="da-search-field form-control me-2" type="search" placeholder="Search Site Location" aria-label="Search"></div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="da-button-div col-lg-2">
                                        <div class="da-search-buttons col-md-12 col-sm-12"><button class="da-search-button btn btn-outline-primary" type="submit">View Attendance</button></div>
                                    </div>
                                </div>
                            </div>
                            <div class="da-graph container">
                                <div class="da-graph-row row">
                                    <div class="da-graph-dates">
                                        <div class="da-date col">
                                            <div>From</div>
                                            <div style="margin-left: 10px; width: 100px"><a href="./">03.10.2020 <i class="fas fa-chevron-down fa-sm"></i></a></div>
                                        </div>
                                        <div class="da-date col" style="margin-left: 20px;">
                                            <div>To</div>
                                            <div style="margin-left: 10px; width: 100px"><a href="./">03.10.2020 <i class="fas fa-chevron-down fa-sm"></i></a></div>
                                        </div>
                                    </div>                                    
                                </div>
                                <div class="da-graph-plot row col-lg-12">
                                    <div class="col-lg-4">
                                        <div class="time-stat">
                                            <h5>Time Statistics</h5>
                                            <ul class="time-stat-nums">
                                                <li>
                                                    <div class="gp-stat text-center" style="background-color: #9DBFF5;">355</div> Before 9 - 10:30 AM
                                                </li>
                                                <li>
                                                    <div class="gp-stat text-center" style="background-color: #4386EF;">48</div> Before 10 - 10:30 AM
                                                </li>
                                                <li>
                                                    <div class="gp-stat text-center" style="background-color: #1659C1;">57</div> After 11 - 11:30 AM
                                                </li>
                                                <li>
                                                    <div class="gp-stat text-center" style="background-color: #EDD412;">16</div> After 11:30 - 12:00 PM
                                                </li>
                                                <li>
                                                    <div class="gp-stat text-center" style="background-color: #F75F5F;">02</div> After 12:00 PM
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 text-center dough-chart-div">
                                        <img class="dough-chart" src="./img/charts/doughnut.svg" alt="">
                                    </div>
                                    <div class="col-lg-5 trend-div">
                                        <div class="trend">
                                            <h5>Today's Trend</h5>
                                            <img class="line-chart" src="./img/charts/line.svg" alt="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="v-pills-members" role="tabpanel" aria-labelledby="v-pills-members-tab">members</div>
            <div class="tab-pane fade" id="v-pills-site" role="tabpanel" aria-labelledby="v-pills-site-tab">site</div>
            <div class="tab-pane fade" id="v-pills-licenses" role="tabpanel" aria-labelledby="v-pills-licenses-tab">licenses</div>
            <div class="tab-pane fade" id="v-pills-permissions" role="tabpanel" aria-labelledby="v-pills-permissions-tab">permissions</div>
            <div class="tab-pane fade" id="v-pills-settings" role="tabpanel" aria-labelledby="v-pills-settings-tab">settings</div>
            <div class="tab-pane fade" id="v-pills-faq" role="tabpanel" aria-labelledby="v-pills-faq-tab">faq</div>
            <div class="tab-pane fade" id="v-pills-contact" role="tabpanel" aria-labelledby="v-pills-contact-tab">contact</div>
        </div>
    </div>
</div>


<script>
$(".dropdown-menu li a").click(function(){
    $(this).parents(".dropdown").find('.btn').html($(this).text() + ' <span class="caret"></span>');
    $(this).parents(".dropdown").find('.btn').val($(this).data('value'));
});
</script>