<div class="footer-conatiner container">
    <div class="row">
        <div class="footer-stuff col text-center">
            Contact with us :
            <a href="https://twitter.com" target="_blank" style="margin-right: 5px;"><img src="./img/icons/twitter.svg" width="18" height="18" alt=""></a>
            <a href="https://facebook.com" target="_blank" style="margin-right: 5px;"><img src="./img/icons/fb.svg" width="18" height="18" alt=""></a>
            <a href="https://instagram.com" target="_blank" style="margin-right: 5px;"><img src="./img/icons/insta.svg" width="18" height="18" alt=""></a>
            <a href="https://youtube.com" target="_blank" style="margin-right: 5px;"><img src="./img/icons/youtube.svg" width="18" height="18" alt=""></a>
            <br/><br/><b>Copyright © 2019 Reliance Jio Infocomm Ltd., All rights reserved</b>
        </div>
    </div>
</div>