<nav class="navbar navbar-expand-lg navbar-light header-nav" style="background-color: #fff;">
    <!--  navbar-dark bg-primary -->
    <div class="container">
        <ul class="nav nav-pills">
            <a class="nav-link header-link" href="#">MOBILITY</a>
            <a class="nav-link header-link" href="#">JIOFIBER</a>
            <a class="nav-link header-link header-active" href="#">BUSINESS</a>
        </ul>
        <ul class="nav nav-pills" style="margin-left: auto !important">
            <a class="nav-link header-link" href="#"><i class="fas fa-bell fa-lg"></i></a>
            <a class="nav-link header-link" href="#"><i class="fas fa-search fa-lg"></i></a>
        </ul>
    </div>
</nav>