<nav class="nav-cust navbar navbar-light navbar-expand-lg bg-light header-nav" style="background-color: #fff !important;">
  <div class="container" style="justify-content: center;">
  <button class="ham-button navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#navbarOffcanvasLg" aria-controls="navbarOffcanvasLg">
    <span class="navbar-toggler-icon"></span>
  </button>
    <a class="navbar-brand text-center nav-logo" href="#" style="position: absolute;">LOGO</a>
  <div class="offcanvas offcanvas-end" tabindex="-1" id="navbarOffcanvasLg" aria-labelledby="navbarOffcanvasLgLabel">
    <div class="offcanvas-header">
      <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Menu</h5>
      <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
      <ul id="navbar_top" class="navbar-nav nav nav-pills" style="margin-left: auto !important">
        <a class="nav-link navbar-link" href="./">MANAGE ACCOUNT</a>
        <a class="nav-link navbar-link" href="./">SUPPORT</a>
        <a class="nav-link navbar-link" href="./">USERNAME <i class="fas fa-chevron-down"></i></a>
      </ul>
    </div>
  </div>
  </div>
</nav>